/*Hay que eliminar un poco de clases, demasiado css*/
body {
    background-color: #EEE0CB;
}

.portada-logo {
    height: 80px;
    width: 80px;
    margin-left: 20px;
    padding-top: 10px;
}

.portada {
    background-color: black;
    border-radius: 10px;
    color:aliceblue;
    display: flex;
    gap: 20px;    
}

.textoPortada {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.secciones {
    border: 2px, solid, black;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #3C3C3B;
    color: #F5EDE0;
}

#muestrasGrandes1 {
    width: 600px;
    height: 350px;
}

#muestrasGrandes2 {
    width: 600px;
    height: 350px;
}

#imgGrande1 {
    width: 600px;
    height: 450px;
}

#imgGrande2 {
    width: 600px;
    height: 450px;
}


h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 20px;
    border: 2px, solid, black;
    background-color: #896567;
    height: 80px;
}

section div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    margin-bottom: 50px;
}

div img {
    height: 250px;
    width:  250px;
    border-radius: 5px;
    margin: 15px;
}

div img:hover {
    opacity: 0.4;
}

video {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

#preciosOculto {
    display: none;
    position: fixed;
    bottom: 5px;
    background-color: bisque;
    border: 1px, solid, black;
    border-radius: 5px;
    padding: 5px;
}


#preciosVisibles {
    display: block;
    position: fixed;
    bottom: 5px;
    background-color: bisque;
    border: 1px, solid, black;
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
}

footer {
    display: flex;
    border: 2px, solid, black;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
}
footer img {
    height: 100px;
    width: 150px;
    margin-left: 20px;
    padding-top: 30px;
}

footer p {
    display: flex;
    flex-direction: column;
}

footer div {
    padding: 20px;
}