/*Hay que eliminar un poco de clases, demasiado css*/
body {
    background-color: #BFB7B6;
    margin: 0;
}

.portada-logo {
    height: 80px;
    width: 80px;
    margin-left: 20px;
    padding-top: 10px;
}

.portada {
    background-color: black;
    border-radius: 10px;
    color:aliceblue;
    display: flex;
    gap: 20px;    
}

.textoPortada {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.secciones {
    border: 2px, solid, black;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #3E505B;
    color: aliceblue;
} 

h1 {
    font-size: 10VW;
    text-align: center;
    letter-spacing: 1px;
    border: 2px, solid, black;
    background-color: black;
}

section div {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: space-around;
    margin-bottom: 10px;
}

div img {
    width: 40vw;
    border-radius: 5px;
    margin-top: 15px;
    /* max-width: 330px;
    max-height: 250px; */
}

div img:hover {
    opacity: 0.4;
}

video {
    width: 80vw;
    border-radius: 5px;
}

#preciosOculto {
    display: none;
    position: fixed;
    bottom: 5px;
    background-color: bisque;
    border: 1px, solid, black;
    border-radius: 5px;
    padding: 5px;
}

#preciosVisibles {
    display: block;
    position: fixed;
    bottom: 5px;
    background-color: rgb(214, 237, 255);
    border: 1px, solid, black;
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
}

footer {
    display: flex;
    border: 2px, solid, black;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
}
footer img {
    height: 100px;
    width: 150px;
    margin-left: 20px;
    padding-top: 30px;
}

footer p {
    display: flex;
    flex-direction: column;
}

footer div {
    padding: 20px;
}

.ponerLupa {
    position: relative;
}

.lupa {
    position: absolute;
    width: 15%;
    height: auto;
    border-radius: 10px;
    border: 1px, solid, gray;
    right: 1px;
    top: 1px;
}